@charset "utf-8";
/* CSS Document */

body{
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	line-height: 18px;
	color: #000;
}
ul,li{
	list-style:none;
	margin:0px;
	padding:0px;
}
a{
	color:#1965b3;
    text-decoration: none;
}    
a:hover{
	color:#CD590C;
	text-decoration:underline;
}
img{
	border:0px;
	vertical-align:middle;
}
#header two{
	height:40px;
	margin:10px auto 10px auto;
	width:800px;
	clear:both;
}
#nav{
	margin:10px auto 10px auto;
	width:800px;
	clear:both;
}
#navlist{
	width:800px;
	margin:0px auto 0px auto;
	height:23px;
}
	#navlist li{
		float:left;
		height:23px;
		line-height:26px;
	}
	.navlist_red_left{
		background-image:url(../images/bg.png);
		background-repeat:no-repeat;
		background-position:-12px -92px;
		width:3px;
	}
	.navlist_red{
	background-color: #33CC00;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
	width: 130px;
	}
	.navlist_red_arrow{
	background-color: #33CC00;
	background-image: url(../images/bg.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	width: 13px;
	}
	.navlist_gray{
	background-color: #e4e4e4;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	width: 150px;
	}
	.navlist_gray_arrow{
	background-color: #e4e4e4;
	background-image: url(../images/bg.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	width: 13px;
	}
	.navlist_gray_right{
		background-image:url(../images/bg.png);
		background-repeat:no-repeat;
		background-position:-12px -138px;
		width:3px;
	}
#kongbai{
	height:30px;
	margin:10px auto 10px auto;
	width:800px;
	clear:both;
}
#dizhi1{
	height: 20px;
	margin: 10px auto 10px auto;
	width: 800px;
	clear: both;
	font-size: 20px;
}
.father{
	margin: 10px auto 10px auto;
	width: 800px;
	border: 1px none #999;
	border-style:solid;
	
}
.box01{
	position:relative;
	height:134px; 
	line-height:50px; 
	background:#FFF; 
	border:1px none #999; 
	margin:15px; 
	padding:0px 10px; 
	float:left;                     
}
.box02{ 
	height:134px; 
	line-height:50px; 
	background:#FFF; 
	border:1px none #999; 
	margin:15px; 
	padding:0px 10px; 
	float:left;                      
}
.box03{ clear:both;}  

#content{
	width: 800px;
	margin: 10px auto 5px auto;
	clear: both;
}
.cart_td_1,.cart_td_2,.cart_td_3,.cart_td_4,.cart_td_5{
		background-color:#e2f2ff;
		border-bottom:solid 1px #d1ecff;
		border-top:solid 1px #d1ecff;
		text-align:center;
		padding:5px;
	}
	.cart_td_1,.cart_td_3,.cart_td_4,.cart_td_5,{
		border-right:solid 1px #FFF;
	}
	.cart_td_3{
		text-align:left;
	}
.shopend{
	text-align:right;
	padding-right:10px;
	padding-bottom:10px;
}
.yellow{
	font-weight:bold;
	color:#fe6400;
	font-size:18px;
	line-height:40px;
}